/* All */
*{margin:0;padding:0}
*,:before,:after{box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box}
.clearfix:after{display:block;visibility:hidden;height:0;clear:both;font-size:0;content:" "}
body{-webkit-text-size-adjust:100%;-moz-text-size-adjust:100%;-ms-text-size-adjust:100%;text-size-adjust:100%;color:#c6c6c6;font-size:16px;word-wrap:break-word;line-height:1.28;background:#333;font-family:Arial,Helvetica,sans-serif}
.page-width{max-width:1000px;margin:20px auto;position:relative;background:#373737;border:1px solid #464646}
.layout{min-height:300px;padding:20px}
h1,h2,h3,h4,h5,h6{font-size:14px;font-weight:400}
li{list-style:none}
a:link,a:visited{color:#dcdcdc;text-decoration:none}
a:link:hover,a:visited:hover{color: #6ba65e;text-decoration:none;}
fieldset,img{border:0;max-width: 100%;height: auto !important;}
fieldset.frm-set dl dt{padding:0 0 5px;font-weight:700;color:#3498db}
fieldset.frm-set dl dd{padding:0 0 10px}
fieldset.frm-set .frm-buttons dd{padding:10px 0 0}
.frm_connexion dl:last-child dd{padding:0}
.frm-buttons{text-align:center}
.frm-buttons.left{float:none}
select,input{outline:0}
select,input[type="text"],input[type="password"]{height:36px;padding:10px;width:100%;word-wrap:break-word;color:#d8d8d8;background:#181818;border:1px solid #464646}
input[type="submit"],input[type="reset"],input[type="button"],.button,.button2{background:#3498db;padding:0 15px;height:36px;line-height:36px;color:#fff!important;border:0;cursor:pointer;display:inline-block;margin:0 3px;text-align:center;font-weight:700;text-transform:capitalize;box-shadow:inset 0 -2px 0 rgba(0,0,0,.1)}
input[name="cancel"],input[name="reset"],input[name="preview"],.button2{background:#464646}
input[type="submit"]:hover,input[type="reset"]:hover,input[type="button"]:hover,.button:hover,.button2:hover{background:#242526}
input[type="checkbox"],input[type="radio"]{margin:0 0 1px;vertical-align:middle}
.button,.button2{margin:0}
.inputbox{width:100% !important;background:#181818;border:1px solid #464646;color:#d8d8d8;padding:10px}
.side-col{margin-left:-300px;width:100%}
.col-right{padding-left:20px;margin-left:300px}
.col-left{width:300px;position:relative}
.side-qc{margin:0 0 10px}
.left{float:left}
.right{float:right}
.center{text-align:center}
.table{display:table;table-layout:fixed;width:100%}
.table-cell{display:table-cell;vertical-align:middle}
.main{margin:0 0 20px;position:relative}
.main-head{padding:0 10px;text-transform:uppercase;color:#fff;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;height:36px;line-height:34px;font-weight:700;margin:0 0 10px;background:#242526;border:1px solid #464646}
.main-head h1,.main-head h2,.main-head h3,.main-head div,.main-head p{display:inline-block;font-weight:700}
.main-head a{color:#fff}
.main-head .fa{float:right;cursor:pointer;font-size:16px;margin:9px 0}
.main-content{padding:10px;background:#2d2d2d;position:relative;border:1px solid #464646}
.tips-yellow,.frm-info,.p-hidden{padding:10px;border:1px solid #f2c779;color:#f2c779;background:#353322;margin:0 0 20px}
.tips-green{color:#8fad3d;padding:10px;border:1px solid #8fad3d;background:#33381e;margin:0 0 20px}
.tips-red{color:#f00;padding:10px;border:1px solid #f00;background:#403030;margin:0 0 20px}
.explain{font-size:12px;margin-top:5px;display:inline-block}
.loading{right:0;top:0;padding:8px 0;position:fixed;z-index:999;background-color:rgba(0,0,0,0.6);width:85px;height:30px;background-image:url(https://i.imgur.com/moZz7U4.gif);background-repeat:no-repeat;background-position:50% 50%;border-radius:0 0 0 10px}
.overlay{position:fixed;width:100%;height:100%;background:rgba(0,0,0,0.6);z-index:997;top:0;left:0}
/* Hide */
.hide,div[style="overflow:visible"],div[style="height:3px"],.paging a[href="javascript:Pagination();"],.pun-crumbs,.post--0,.admin-link br,#pun-visit,#pun-qpost .main-head,.frm-buttons dt,.frm_connexion dl:last-child dt,#cont_pwd,.statistics,.main-head .options{display:none}
/* Trans */
a,.nav-sub ul,.paging b,input[type="submit"],input[type="reset"],input[type="button"],.button,.button2{transition:all 225ms ease;-o-transition:all 225ms ease;-ms-transition:all 225ms ease;-moz-transition:all 225ms ease;-webkit-transition:all 225ms ease}
/* Head */
.header-top{padding:20px;text-align:center;background:#242526 url(https://vc-mp.org/images/promo/dance.jpg);border-bottom:1px solid #464646}
.logo a{color:#6ba65e}
.logo h2{font-size:30px;font-weight:700;margin:0 0 15px}
.show-nav{color:rgba(255,255,255,0.75);height:32px;width:32px;text-align:center;font-size:20px;background:#323232;border:1px solid #464646;display:none}
.show-nav .fa{line-height:30px}
.nav-tab{display:inline-block;position:relative}
.nav-tab>a,.nav-tab>strong{color:rgba(255,255,255,0.75);height:32px;line-height:30px;display:block;text-transform:uppercase;padding:0 10px;margin:0 3px;font-weight:700;background:#323232;border:1px solid #464646}
.nav-tab:hover>a,.nav-tab:hover>strong,.nav-sub ul a:hover{color:#3498db}
.search-form{position:relative;margin:0 0 20px}
.search-form .search-input{background:#2d2d2d;height:46px;font-size:20px}
.search-form .search-btn{position:absolute;right:5px;top:5px;width:36px;padding:0;margin:0}
/* Sidebar */
.sgt .side-head{color: #3498db}
.sgt p{padding-left:23px;position:relative;margin:0 0 10px}
.sgt .side-content .fa{position:absolute;left:0;color:#6ba65e}
.sgt .button{width:100%;height:42px;line-height:42px;font-size:16px}
.side-main{border:1px solid #464646;margin:0 0 20px;background:#2d2d2d}
.side-head{padding:0 10px;text-transform:uppercase;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;background:#242526;border-bottom:1px solid #464646;height:44px;line-height:44px;font-weight:700;color:#c9c9c9}
.side-head h3{font-weight:700}
.side-content{padding:10px}
.side-foot{padding:10px;border-top:1px solid #464646}
.side-stats dl{height:30px;line-height:30px;overflow:hidden}
.side-stats dt{float:left;padding-right:5px}
.side-stats .fa{border:1px solid #464646;background:#323232;width:20px;height:20px;text-align:center;vertical-align:middle;font-size:10px;line-height:16px;margin:0 10px 3px 0}
.side-stats dd{float:right;font-weight:700;max-width:130px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
/* Last */
.last-content li{height:30px;line-height:30px;padding-left:30px;position:relative;counter-increment:Zzindex}
.last-content li:before{text-align:center;content:counter(Zzindex);position:absolute;width:20px;height:20px;left:0;top:5px;font-size:10px;line-height:20px;border:1px solid #464646;background:#323232}
.last-content li:nth-child(1):before{color:#ee2a2b;border-color:#ee2a2b;background:#2d2d2d}
.last-content li:nth-child(2):before{color:#fd5405;border-color:#fd5405;background:#2d2d2d}
.last-content li:nth-child(3):before{color:#fdb55a;border-color:#fdb55a;background:#2d2d2d}
.last-title{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width:100%}
.last-user{width:140px;text-align:right;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
/* Box */
.box-content{float:left;width: 49%;padding:5px}
.box-all{background:#2d2d2d;border:1px solid #464646}
.box-info{padding:10px 10px 10px 60px;position:relative}
.box-icon{position:absolute;width:40px;height:40px;left:10px;font-size:37px;color:#6ba65e}
.box-icon .fa:before{content:"\f086";line-height:36px}
.box-name h3{font-size:16px;font-weight:700;margin:0 0 4px}
.box-name a{color:#6ba65e}
.box-count{background:#323232;border-top:1px solid #464646;line-height:30px;height:30px;padding:0 10px}
.box-count span{padding-right:10px}
/* Paging - Posting */
.paging{font-size:0;float:left}
.paging a,.paging b{font-size:14px;padding:0 7px;display:inline-block;vertical-align:middle;height:26px;line-height:24px;margin:0 5px 20px 0;border:1px solid #4a545c}
.paging a{background:#32393d;color:#a8aeb3}
.paging a img{margin-top:6px}
.paging b{background:#6ba65e;border-color:#6ba65e;color:#fff;cursor:default}
.paging a:hover,.paging b:hover{color:#3498db;background:#292c2e;border-color:#4a545c}
.posting a{margin:0 0 20px}
.posting a:hover{background:#242526}
/* List */
.list-main{margin:-5px}
.list-content{padding:5px;line-height:1.5}
.list-content[data*="Thông báo"] .topictitle{color:#f44}
.list-content[data*="Thông báo"] .list-icon .fa:before{content:"\f0a1"}
.list-content[data*="Vip 2"] .topictitle{color:#ff9100}
.list-content[data*="Vip 2"] .list-icon .fa:before,.list-content[data*="Vip 1"] .list-icon .fa:before{content:"\f0a4"}
.list-content[data*="Vip 1"] .topictitle{color:#79b74c}
.list-icon{width:38px;text-align:center;border:1px solid #464646;background:#323232;font-size:16px}
.list-info{padding-left:10px}
.list-page{margin-left:10px;font-size:0}
.list-page a{font-size:11px;padding:2px 5px;margin-right:5px;border:1px solid #4a545c;background:#32393d;color:#a8aeb3;font-weight:400}
.list-page a:hover{color:#3498db;background:#292c2e}
.list-count{width:200px}
.list-count div{float:left;width:50%;text-align:center}
.list-last{width:150px;text-align:right}
/* View */
.topic-info h1{font-size:18px;color:#6ba65e}
.topic-info .dang-tai{margin:0 0 20px}
.post{margin:0 0 20px;position:relative}
.user-status.online{background:#79b74c;height:10px;width:10px;position:absolute;border-radius:50%;z-index:2;top:2px;left:2px}
.user-status.online .user-online{border:10px solid #79b74c;border-radius:50%;height:40px;width:40px;position:absolute;top:-15px;left:-15px;opacity:0;animation:glow 3s ease-out infinite;-o-animation:glow 3s ease-out infinite;-ms-animation:glow 3s ease-out infinite;-moz-animation:glow 3s ease-out infinite;-webkit-animation:glow 3s ease-out infinite}
@keyframes glow{0%{transform:scale(0);opacity:0.0}
25%{transform:scale(0);opacity:0.1}
50%{transform:scale(0.1);opacity:0.3}
75%{transform:scale(0.5);opacity:0.5}
100%{transform:scale(1);opacity:0.0}
}
@-moz-keyframes glow{0%{-moz-transform:scale(0);opacity:0.0}
25%{-moz-transform:scale(0);opacity:0.1}
50%{-moz-transform:scale(0.1);opacity:0.3}
75%{-moz-transform:scale(0.5);opacity:0.5}
100%{-moz-transform:scale(1);opacity:0.0}
}
@-webkit-keyframes glow{0%{-webkit-transform:scale(0);opacity:0.0}
25%{-webkit-transform:scale(0);opacity:0.1}
50%{-webkit-transform:scale(0.1);opacity:0.3}
75%{-webkit-transform:scale(0.5);opacity:0.5}
100%{-webkit-transform:scale(1);opacity:0.0}
}
.post .user{float:left;padding:10px;width:150px;border:1px solid #464646;background:#2d2d2d;font-size:12px}
.user-avatar{width:128px;height:128px;text-align:center;border:1px solid #464646;background:#323232;padding:5px}
.user-avatar img{max-width:100% !important;max-height:100% !important;border-radius:2px}
.user-text{text-align:center;padding:10px 0}
.user-text .user-name{font-size:15px}
.show-info{width:22px;height:22px;font-size:15px;text-align:center;border:1px solid #464646;background:#323232;margin:0 auto;cursor:pointer}
.show-info .fa{line-height:20px}
.user-info{padding-top:10px;line-height:1.5}
.postmain{margin-left:170px}
.postbody{background:#2d2d2d;border:1px solid #464646;padding:10px;position:relative}
.post-entry{min-height:210px;padding:0 0 20px;line-height:1.4}
.post-entry a,.post-entry h2,.post-entry h3,.post-entry h4{font-weight:700;color:#fff}
.post-entry ul li,.post-entry ol li{padding-left:10px;list-style:inside;list-style-type:inherit}
.post-entry img,.post-entry iframe{max-width:100%;margin:5px 0}
.post-entry table{width:100%;border:1px solid #464646;margin:5px 0}
.post-entry table td{border:1px solid #464646;padding:10px}
.post-entry hr{border-style:dashed;border-color:#464646;margin:5px 0}
blockquote{padding:10px;border-left:3px solid #3498db;margin:5px 0;background:#323232}
blockquote cite{display:block;font-weight:700;padding:0 0 5px;font-style:normal}
.codebox{border:1px solid #464646;margin:5px 0}
.codebox.hidecode{border:0;margin:0}
.codebox dt{padding:10px;background:#323232}
.codebox dd.cont_code{padding:10px;max-height:200px;overflow:auto;border-top:1px solid #464646}
.codebox .spoiler_content{padding:10px;display:none;border-top:1px solid #464646}
.codebox .spoiler_content.hidden{display:block}
.post-options{text-align:center;background:#323232;border-top:1px solid #464646;margin:10px -10px -10px;padding:0 10px}
.post-options a{display:inline-block;margin:0 3px;line-height:24px;padding:5px;font-size:12px}
/* Posting */
#textarea_content{width:100% !important;margin-bottom:10px}
#text_editor_textarea{border:1px solid #464646;background:#242526;color:#8d8d8d;padding:10px;font-family:Roboto,arial,sans-serif;font-size:13px}
.sceditor-container{border-radius:0!important;border:1px solid #464646!important;background:#242526!important}
div.sceditor-toolbar{background:#323232!important;border-bottom:1px solid #464646!important;border-radius:0!important;padding:5px 10px!important;text-align:left}
div.sceditor-group{background:#2d2d2d!important;border-radius:0!important;border:1px solid #464646!important;padding:0!important;margin:5px 5px 5px 0!important}
.sceditor-button{border-right:1px solid #464646;border-radius:0!important;position:relative;color:#8d8d8d;box-sizing:content-box;-o-box-sizing:content-box;-ms-box-sizing:content-box;-moz-box-sizing:content-box;-webkit-box-sizing:content-box}
div.sceditor-group > .sceditor-button:last-child{border:0}
.sceditor-button:after{bottom:0;font-family:FontAwesome;font-size:14px;font-weight:400;left:0;line-height:26px;position:absolute;right:0;text-align:center;text-indent:0;top:0}
.sceditor-container .sceditor-button div{background-image:none}
.sceditor-button-bold:after{content:"\f032"}
.sceditor-button-italic:after{content:"\f033"}
.sceditor-button-underline:after{content:"\f0cd"}
.sceditor-button-headers:after{content:"\f1dc"}
.sceditor-button-size:after{content:"\f034"}
.sceditor-button-color:after{content:"\f1fb"}
.sceditor-button-font:after{content:"\f031"}
.sceditor-button-removeformat:after{content:"\f12d"}
.sceditor-button-left:after{content:"\f036"}
.sceditor-button-center:after{content:"\f037"}
.sceditor-button-right:after{content:"\f038"}
.sceditor-button-bulletlist:after{content:"\f0cb"}
.sceditor-button-orderedlist:after{content:"\f0ca"}
.sceditor-button-horizontalrule:after{content:"\f068"}
.sceditor-button-servimg:after{content:"\f093"}
.sceditor-button-image:after{content:"\f03e"}
.sceditor-button-youtube:after{content:"\f16a"}
.sceditor-button-link:after{content:"\f0c1"}
.sceditor-button-unlink:after{content:"\f127"}
.sceditor-button-more:after{content:"\f141"}
.sceditor-button-maximize:after{content:"\f065"}
.sceditor-button-source:after{content:"\f0f6"}
.sceditor-button-strike:after{content:"\f0cc"}
.sceditor-button-quote:after{content:"\f10d"}
.sceditor-button-code:after{content:"\f121"}
.sceditor-button-faspoiler:after{content:"\f071"}
.sceditor-button-fahide:after{content:"\f070"}
.sceditor-button-table:after{content:"\f0ce"}
.sceditor-button-subscript:after{content:"\f12c"}
.sceditor-button-superscript:after{content:"\f12b"}
.sceditor-button-fascroll:after{content:"\f100"}
.sceditor-button-faupdown:after{content:"\f102"}
.sceditor-button-farand:after{content:"\f074"}
.sceditor-button-date:after{content:"\f271"}
.sceditor-button-time:after{content:"\f017"}
.sceditor-button-email:after{content:"\f0e0"}
div.sceditor-dropdown{background:#2d2d2d!important;border-color:#464646!important;border-top:3px solid #3498db!important;box-shadow:4px 4px 10px -2px rgba(0,0,0,.1)!important}
div.sceditor-dropdown label{padding:0 0 5px!important;color:#fff!important}
div.sceditor-dropdown input,div.sceditor-dropdown textarea{padding:10px!important;border-color:#464646!important;margin:0 0 10px!important;border-radius:0!important;font-family:Roboto,arial,sans-serif!important}
div.sceditor-dropdown .button{background:#3498db!important;color:#fff!important;border:0!important;padding:0 15px!important;margin:0!important;border-radius:0!important}
div.sceditor-dropdown a,div.sceditor-dropdown a:link{color:#bdbdbd!important}
.sceditor-dropdown a:hover{background:#323232!important}
div.sceditor-color-picker{width:182px!important}
.sceditor-color-option{border-color:#2d2d2d!important;height:15px!important;width:15px!important;display:inline-block!important}
.sceditor-container iframe,.sceditor-container textarea{min-height:150px;width:100%!important;padding:10px!important;margin:0!important;background:#242526!important;color:#8d8d8d!important;line-height:1.4;font-size:14px!important}
.sceditor-button.active,.sceditor-button:active,.sceditor-button:hover,.sceditor-button.hover{background:#292c2e!important;color:#3498db;box-shadow:none!important}
/* Memberlist */
.member-search dl{float:left;width:33.33%;padding:5px}
.member-list{margin:-5px}
.member-content{float:left;width:50%;padding:5px}
.member-all{background:#2d2d2d;border:1px solid #464646;padding:10px}
.member-avatar{width:85px;height:85px;border:1px solid #464646;background:#323232;text-align:center;padding:3px}
.member-avatar img{max-width:100%!important;max-height:100%!important}
.member-info{padding-left:10px;line-height:1.5}
.member-name{font-size:15px}
.member-info .label{display:inline-block;width:65px}
/* Login */
.log-pop{z-index:999;top:20%;left:35%;right:35%;background:#242526;position:fixed;border:1px solid #464646;padding:15px;max-width:400px}
.log-title{padding:0 10px;text-transform:uppercase;color:#fff;font-weight:700;height:36px;line-height:34px;border:1px solid #464646;background:#323232;margin:0 0 15px}
.log-title .fa{cursor:pointer;font-size:20px;margin:6px 0}
.log-item{margin:0 0 15px}
.log-item input[type="submit"]{width:100%;margin:0}
/* Footer */
.footer-link{background:#2d2d2d;border-top:1px solid #464646;padding:20px;text-align:center;line-height:1.5}
.footer-link li{max-width:100%;text-overflow:ellipsis;white-space:nowrap;overflow:hidden}
/* Mobile */
@media only screen and (min-width:640px){
.nav-sub{cursor:pointer}
.nav-sub:hover>ul{visibility:visible;opacity:1;top:32px}
.nav-sub ul{position:absolute;background:#2d2d2d;border:1px solid #464646;border-top:3px solid #3498db;z-index:999;right:3px;top:52px;width:200px;box-shadow:4px 4px 10px -2px rgba(0,0,0,.1);text-align:left;padding:5px;visibility:hidden;opacity:0}
.nav-sub ul:before{content:"";position:absolute;top:-11px;right:6px;border-style:solid;border-width:0 8px 8px;border-color:transparent transparent #3498db}
.nav-sub ul a{height:30px;line-height:30px;display:block;white-space:nowrap;padding:0 10px}
}
@media only screen and (max-width:1000px){
.page-width{margin:0 auto}
.log-pop{right:30%;left:30%;max-width:inherit}
}
@media only screen and (max-width:800px){
.side-col{margin:0;float:none}
.col-right{margin:0;padding:0}
.col-left{width:100%;float:none}
.list-count{display:none}
.log-pop{right:25%;left:25%}
}
@media only screen and (max-width:768px){
.post .user{float:none;width:100%;margin:0 0 10px}
.postmain{margin:0}
.postbody:before,.postbody:after{border-width:0 8px 8px 8px;left:40px;margin-left:-8px;position:absolute;border-style:solid;content:" "}
.postbody:before{top:-9px;border-color:transparent transparent #464646;z-index:10}
.postbody:after{top:-7px;z-index:20;border-color:transparent transparent #2d2d2d}
.user-avatar{float:left;width:60px;height:60px;padding:2px;margin-right:10px}
.user-text{float:left;text-align:left;padding:13px 0}
.show-info{display:none}
.user-info{display:block;float:right;width:130px;padding:3px 0}
}
@media only screen and (max-width:640px){
.logo a{float:left}
.logo h2{font-size:25px;margin:0;line-height:32px}
.nav-top{position:absolute;background:#2d2d2d;border:1px solid #464646;border-top:3px solid #3498db;z-index:999;right:20px;width:200px;text-align:left;padding:5px;box-shadow:4px 4px 10px -2px rgba(0,0,0,.1);display:none}
.nav-top:before{content:"";position:absolute;top:-11px;right:7px;border-style:solid;border-width:0 8px 8px;border-color:transparent transparent #3498db}
.nav-tab,.show-nav{display:block}
.nav-tab>a,.nav-tab>strong{background:0;border:0;text-transform:inherit;height:30px;margin:0}
.nav-sub li{padding-left:10px}
.nav-sub li a{padding:0 10px;height:30px;line-height:30px}
.layout{padding:20px 5px}
.box-content,.member-search dl,.member-content{width:100%;float:none}
.last-user,.list-last{display:none}
.log-pop{right:20%;left:20%}
}
@media only screen and (max-width:480px){
.paging,.posting,.quickmod{float:none}
.posting a{width:100%}
.log-pop{right:5%;left:5%}
}
@media only screen and (max-width:360px){}
@media only screen and (min-width:800px) and (max-width:980px){
.last-user{display:none}
.box-content{width:100%;float:none}
}
.logo {
max-width: 100%;
height: auto !important;
}
